BindingDB_All_202311 2.tsv
BindingDB_All_202311.tsv
BindingDB_EC50.csv
BindingDB_Ki.csv
BindingDB_Ki(FASTA).csv
BindingDB_EC50(FASTA).csv
BindingDB_Ki(processing).csv
.DS_Store
TCF4-201
TCF4-202
TCF4-204
TCF4-205
TCF4-206
data.csv


